<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.tsinghua.cs.httpsoft.onebill" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="oneBill.presentation.ManageMember"
            android:launchMode="singleTask"
            android:label="@string/title_activity_manage_member"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="oneBill.presentation.PreviewActivity"
            android:launchMode="singleTask"
            android:label="@string/title_activity_preview"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="oneBill.presentation.PayableActivity"
            android:label="@string/title_activity_payable"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="oneBill.presentation.AddRecordActivity"
            android:label="@string/title_activity_add_record"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="oneBill.presentation.AddBook"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="oneBill.presentation.DeleteMember"
            android:launchMode="singleTask"
            android:label="@string/title_activity_delete_member"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="oneBill.presentation.activity.AtyWelcome"
            android:launchMode="singleTask"
            android:label="一叶账目"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="oneBill.presentation.activity.AtyMain"
            android:launchMode="singleTask"
            android:label="@string/title_activity_account"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="oneBill.presentation.Account"
            android:launchMode="singleTask"
            android:label="@string/title_activity_account"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="oneBill.presentation.AccountLog"
            android:label="@string/title_activity_account_log"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="oneBill.presentation.AccountClear"
            android:label="@string/title_activity_account_clear"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="oneBill.presentation.activity.AtyAbout"
            android:label="@string/title_activity_account_clear"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="oneBill.presentation.activity.AtySetting"
            android:label="@string/title_activity_account_clear"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="oneBill.presentation.activity.AtyAddRecord"
            android:label="@string/title_activity_account_clear"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
