<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.tsinghua.cs.httpsoft.onebill" >
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="oneBill.presentation.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="oneBill.presentation.AddBook"
            android:theme="@style/AppTheme.NoActionBar"  >

            android:name="oneBill.presentation.PreviewActivity"
            android:label="@string/title_activity_preview" >
        </activity>
        <activity
            android:name="oneBill.presentation.PayableActivity"
            android:label="@string/title_activity_payable"
            android:launchMode="singleTask">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="oneBill.presentation.AddRecordActivity"
            android:label="@string/title_activity_add_record"
            android:launchMode="standard">
        </activity>
    </application>

</manifest>
